<header class="row-container">
    <div class="blog-name-container">
        <p class="blog-name">{{ title }}</p>
        <p class="blog-name-subheader">{{ subtitle }}</p>
    </div>
    <nav class="row-container" role="navigation">
        <a href="/">Home</a>
        <a href="/">Catgories</a>
    </nav>
</header>