<header>
    <div class="row-container page-header">
        <div class="blog-name-container">
            <p class="blog-name">{{ title }}</p>
            <p class="blog-name-subheader">{{ subtitle }}</p>
        </div>
        <nav class="row-container" role="navigation">
            <a href="/">About</a>
            <a href="/">Featured</a>
            <a href="/">Explore</a>
            <a href="/">Connect</a>
        </nav>
    </div>
</header>