--- 

title: Littlejoysandmore
subtitle: Celebrate every moment of life.
layout: 'base.njk'

---

    <section class="featured column-container">
        <h2 class="header">Featured Stories</h2>
        <div class="articles-list">
            {%- for post in collections.post -%}
                <article class="column-container">
                    <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" class="article-image" />
                    <h3 class="article-label">
                        <a href="{{ post.url }}">{{ post.data.title }}</a>
                    </h3>
                </article>
            {%- endfor -%}
        </div>
    </section>
    <section class="sidepanel column-container"></section>
