@import './resets.scss';
@import './colors.scss';
body {
    --font-color: #363636;
    --font-color-darker: #262626;
    font-family: 'Raleway', sans-serif;
    a {
        text-decoration: none;
        text-emphasis: none;
        &:visited {
            color: unset;
        }
    }
    .row-container {
        display: flex;
        flex-direction: row;
    }
    .column-container {
        display: flex;
        flex-direction: column;
    }
    header {
        background: url('../images/new-back.png') no-repeat top right fixed;
        background-size: cover;
        min-height: 100vh;
        filter: sepia(0.2);
        .page-header {
            height: 100px;
            align-items: center;
            justify-content: space-between;
            padding: 0px 20% 0 10%;
            color: var(--font-color);
            .blog-name {
                font-size: 2.3rem;
                font-weight: bold;
                letter-spacing: 1px;
            }
            .blog-name-subheader {
                margin-top: -0.4em;
                font-size: 1rem;
            }
            nav {
                border-radius: 4px;
                background-color: var(--font-color);
                padding: 5px 10px;
                a {
                    &:not(:last-child) {
                        border-right: 1px solid var(--font-color-darker);
                    }
                    padding: 5px 10px;
                    font-size: 1.25rem;
                    color: whitesmoke;
                    background-color: var(--font-color);
                    text-decoration: none;
                }
            }
        }
    }
    main {
        margin: 10px 10vw;
        .featured {
            .articles-list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 8px;
                &>*:nth-child(4n+1),
                &>*:nth-child(4n+4) {
                    grid-column: auto / span 2;
                }
                img {
                    height: 400px;
                    width: auto;
                }
            }
        }
    }
}